html, body {
    height: 100%;
    font-family: sans-serif;
    background-color: #6394ef;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to_do_container {
    width: 80%;
    height: 60%;
    padding: 50px;
    background-color: #0b1174;
    border-radius: 30px;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.input_container input{
    height: 30px;
    width: 60%;
    outline-color: white;
}

.input_container button{
    width: 100px;
    height: 35px;
    border-radius: 0px;
    background-color: orangered;
    color: white;
    border: none;
}